@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

form {
  font-size: 0;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #ececec;
  background: #2C2C2C;
}

body::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*cyrillic*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-cyrillic.woff2") format("woff2"), url("../fonts/Inter-cyrillic.woff") format("woff");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/*latin*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-latin.woff2") format("woff2"), url("../fonts/Inter-latin.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.blue_btn {
  background: #0A9CEE;
  border-radius: 6px;
  color: #181818;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.blue_btn:hover {
  background: #0c6da6;
}

.blue_btn:active {
  background: #181818;
  color: #ececec;
}

.title__text {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.footer {
  padding: 48px 10px 16px;
}

.footer__cont {
  max-width: 1184px;
  margin: 0 auto;
}

.footer__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: inline-block;
}

.footer__social_links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  margin: 0 0 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__1 {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__social_links {
    margin: 24px 0 0;
  }
}
.soc_btn {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .soc_btn {
    background-size: 85%;
  }
}
.discord {
  width: 32px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.107 2.00999C25.0356 1.071 22.8208 0.388577 20.5052 0C20.2208 0.498142 19.8886 1.16815 19.6595 1.70115C17.198 1.34249 14.7591 1.34249 12.3429 1.70115C12.1139 1.16815 11.7741 0.498142 11.4871 0C9.16908 0.388577 6.95167 1.07351 4.88026 2.01497C0.70219 8.13203 -0.430415 14.0972 0.135889 19.9776C2.907 21.9826 5.59255 23.2005 8.23277 23.9975C8.88465 23.1283 9.46605 22.2042 9.9669 21.2304C9.013 20.8792 8.09937 20.4459 7.2361 19.9427C7.46512 19.7784 7.68914 19.6065 7.90557 19.4296C13.1709 21.8157 18.8919 21.8157 24.0943 19.4296C24.3133 19.6065 24.5373 19.7784 24.7638 19.9427C23.898 20.4483 22.9818 20.8817 22.0279 21.2329C22.5288 22.2042 23.1077 23.1308 23.7621 24C26.4048 23.203 29.0929 21.9851 31.864 19.9776C32.5285 13.1607 30.7289 7.25033 27.107 2.00999ZM10.6842 16.3612C9.10363 16.3612 7.8074 14.9315 7.8074 13.1906C7.8074 11.4496 9.07595 10.0175 10.6842 10.0175C12.2926 10.0175 13.5887 11.4471 13.5611 13.1906C13.5636 14.9315 12.2926 16.3612 10.6842 16.3612ZM21.3157 16.3612C19.7351 16.3612 18.4388 14.9315 18.4388 13.1906C18.4388 11.4496 19.7073 10.0175 21.3157 10.0175C22.9239 10.0175 24.2202 11.4471 24.1925 13.1906C24.1925 14.9315 22.9239 16.3612 21.3157 16.3612Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.telegram {
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='29' viewBox='0 0 28 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 14.5C28 22.232 21.732 28.5 14 28.5C6.26801 28.5 0 22.232 0 14.5C0 6.76801 6.26801 0.5 14 0.5C21.732 0.5 28 6.76801 28 14.5ZM14.188 9.89062C12.461 10.6049 9.0217 12.0772 3.85538 14.2928C3.02876 14.6281 2.58594 14.9488 2.54165 15.2695C2.47629 15.8118 3.16359 16.0224 4.09076 16.3065C4.21041 16.3432 4.33404 16.3811 4.46057 16.4211C5.37575 16.7126 6.58614 17.0479 7.22086 17.0625C7.79654 17.077 8.43126 16.8438 9.13978 16.3628C13.9666 13.1413 16.4464 11.5087 16.6088 11.4795C16.7269 11.4503 16.8745 11.4212 16.9778 11.5087C17.0812 11.5961 17.0812 11.771 17.0664 11.8148C16.996 12.1045 14.1164 14.7445 12.806 15.9459C12.4684 16.2554 12.235 16.4694 12.1805 16.5231C12.0421 16.6638 11.9011 16.7971 11.7656 16.9252C10.9183 17.7261 10.2825 18.3271 11.7967 19.3073C12.4852 19.7561 13.0404 20.1302 13.5872 20.4986C14.248 20.9439 14.8965 21.3808 15.7527 21.9312C15.9544 22.062 16.1475 22.1976 16.3359 22.33C17.0712 22.8466 17.7347 23.3127 18.5572 23.2431C19.0296 23.1993 19.5167 22.762 19.7676 21.4501C20.3581 18.3598 21.5094 11.6398 21.7751 8.87023C21.8046 8.637 21.7751 8.33088 21.7456 8.18512C21.7161 8.03935 21.6718 7.84985 21.4947 7.70408C21.2733 7.52915 20.9485 7.5 20.8009 7.5C20.1367 7.51458 19.1034 7.86442 14.188 9.89062Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.youtube {
  width: 32px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='23' viewBox='0 0 32 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.5017 1.1571C29.8794 1.51929 30.9622 2.58255 31.3309 3.93556C31.9973 6.38546 32 11.5 32 11.5C32 11.5 32 16.6146 31.3309 19.0645C30.9622 20.4175 29.8794 21.4807 28.5017 21.8429C26.0073 22.5 15.9999 22.5 15.9999 22.5C15.9999 22.5 5.99275 22.5 3.49818 21.8429C2.12052 21.4807 1.03787 20.4175 0.669081 19.0645C0 16.6146 0 11.5 0 11.5C0 11.5 0 6.38546 0.669081 3.93556C1.03787 2.58255 2.12052 1.51929 3.49818 1.1571C5.99275 0.5 15.9999 0.5 15.9999 0.5C15.9999 0.5 26.0073 0.5 28.5017 1.1571ZM21.1106 11.5003L12.7971 16.2138V6.78674L21.1106 11.5003Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.footer__navigator {
  margin: 48px 32px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr auto;
}

@media (max-width: 767px) {
  .footer__navigator {
    margin: 38px 10px 0;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    row-gap: 30px;
  }
  .footer__navigator > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
.column {
  white-space: nowrap;
}

.column__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.column__btn {
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  margin: 16px 0 0;
}

.column:last-child .column__title {
  font-size: 16px;
  line-height: 19px;
}
.column:last-child .column__btn {
  font-size: 14px;
  line-height: 17px;
}

.footer__text {
  margin: 48px 0 0;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.footer__text a {
  color: #ececec;
  border-bottom: 1px solid #ececec;
}

.footer__text_mobile {
  display: none;
  margin: 48px 10px 0;
  text-align: left;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .footer__text {
    display: none;
  }
  .footer__text_mobile {
    display: block;
  }
}
.fixed_overlay {
  position: fixed;
  z-index: 5;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form {
  background: #2C2C2C;
  outline: 1px solid #181818;
  border-radius: 16px;
  width: 536px;
  height: 411px;
  padding: 80px 48px 48px 48px;
}

.form__close_btn {
  position: absolute;
  width: 28px;
  height: 28px;
  right: 16px;
  top: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4571 5.70711C28.8476 5.31658 28.8476 4.68342 28.4571 4.29289C28.0666 3.90237 27.4334 3.90237 27.0429 4.29289L16.375 14.9607L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L14.9608 16.375L4.29289 27.0428C3.90237 27.4333 3.90237 28.0665 4.29289 28.457C4.68342 28.8475 5.31658 28.8475 5.70711 28.457L16.375 17.7892L27.0429 28.457C27.4334 28.8475 28.0666 28.8475 28.4571 28.457C28.8476 28.0665 28.8476 27.4333 28.4571 27.0428L17.7892 16.375L28.4571 5.70711Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.form__close_btn:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4571 5.70711C28.8476 5.31658 28.8476 4.68342 28.4571 4.29289C28.0666 3.90237 27.4334 3.90237 27.0429 4.29289L16.375 14.9607L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L14.9608 16.375L4.29289 27.0428C3.90237 27.4333 3.90237 28.0665 4.29289 28.457C4.68342 28.8475 5.31658 28.8475 5.70711 28.457L16.375 17.7892L27.0429 28.457C27.4334 28.8475 28.0666 28.8475 28.4571 28.457C28.8476 28.0665 28.8476 27.4333 28.4571 27.0428L17.7892 16.375L28.4571 5.70711Z' fill='%23595959'/%3E%3C/svg%3E%0A");
}

.form__close_btn:active {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.4571 5.70711C28.8476 5.31658 28.8476 4.68342 28.4571 4.29289C28.0666 3.90237 27.4334 3.90237 27.0429 4.29289L16.375 14.9608L5.70711 4.29289C5.31658 3.90237 4.68342 3.90237 4.29289 4.29289C3.90237 4.68342 3.90237 5.31658 4.29289 5.70711L14.9608 16.375L4.29289 27.0429C3.90237 27.4334 3.90237 28.0666 4.29289 28.4571C4.68342 28.8476 5.31658 28.8476 5.70711 28.4571L16.375 17.7892L27.0429 28.4571C27.4334 28.8476 28.0666 28.8476 28.4571 28.4571C28.8476 28.0666 28.8476 27.4334 28.4571 27.0429L17.7892 16.375L28.4571 5.70711Z' fill='%23181818'/%3E%3C/svg%3E%0A");
}

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.5px;
}

.form__title {
  margin: 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__txt_btn {
  margin: 0 0 0 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #ececec;
  background: transparent;
  border-bottom: 1px solid #ececec;
}

.form__name {
  margin: 0 auto 16px;
}

.form input::-webkit-input-placeholder {
  color: #595959;
}

.form input:-moz-placeholder {
  color: #595959;
}

.form__input {
  width: 420px;
  padding: 8px 16px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  background: #D9D9D9;
  border-radius: 6px;
}

.label {
  font-weight: 100;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
}

.input__label {
  margin: 8px 0 0 0;
}

.form__pass {
  margin: 0 auto 30px;
}

.pass__title {
  margin: 8px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pass__title form {
  margin: auto 0;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

/* стили коробки checkbox */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid #0A9CEE;
  border-radius: 6px;
  margin: 0 8px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

/* стили активного checkbox */
.custom-checkbox:checked + label::before {
  border-color: #0A9CEE;
  background-color: #0A9CEE;
  background-image: url("../img/mark.svg");
}

/* стили при наведении курсора на активный checkbox */
.custom-checkbox:checked + label:hover::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
}

/* стили при наведении курсора на не активный checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #0b76ef;
  background-image: url("../img/mark.svg");
}

.form__btn button {
  padding: 8px 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.form__btn button:hover {
  background: #0b76ef;
}

.title {
  margin: 0 auto;
  max-width: 1440px;
  height: 160px;
  background-image: url("../img/title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.download__select {
  margin: 80px 0 0;
  text-align: center;
}

.version {
  max-width: 512px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.version_btn {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.windows {
  background-image: url("data:image/svg+xml,%3Csvg width='128' height='128' viewBox='0 0 128 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 17.6118L52.4317 10.3973V61.0499H0.0035521L0 17.6118ZM52.4317 67.5323V117.612L0.00652137 110.408L0.0035521 67.5347L52.4317 67.5323ZM58.2316 9.60087L128 0V61.0499H58.2316V9.60087ZM128 67.5323V128L58.2316 118.409V67.5323H128Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.linux {
  background-image: url("data:image/svg+xml,%3Csvg width='104' height='128' viewBox='0 0 104 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M97.3726 115.066C98.4595 114.45 99.4761 113.873 100.371 113.351C105.52 110.358 104.575 105.794 101.342 104.407C98.1089 103.02 95.4623 100.833 95.6642 96.6376C95.8402 92.4766 92.809 89.7025 92.809 89.7025C92.809 89.7025 95.4623 80.5466 92.9916 72.9622C90.521 65.4122 82.3725 53.2701 76.1081 44.1415C72.88 39.4235 72.7278 34.3299 72.5582 28.6521C72.3987 23.3116 72.2237 17.4543 69.4591 10.9068C63.7549 -2.62216 48.964 -1.82246 40.9915 3.94402C34.043 8.97025 35.007 20.4777 35.624 27.8433C35.715 28.9293 35.7984 29.9252 35.8478 30.7971C36.2324 37.5482 36.0238 42.3788 35.2872 44.1143C34.9062 45.0263 33.3457 47.18 31.4552 49.7892C29.6914 52.2235 27.6403 55.0544 25.9916 57.6433C24.0696 60.6827 22.4459 65.5461 20.9476 70.0336C19.7882 73.5061 18.7039 76.7536 17.6148 78.7567C15.1705 83.3212 16.8782 87.4822 16.8782 87.4822C16.8782 87.4822 15.1701 88.0974 13.821 91.0901C12.4975 94.0488 9.85083 95.4633 5.08555 96.4267C0.352834 97.4446 0.352834 100.643 1.49376 104.223C2.42872 107.137 1.83909 109.005 0.872094 112.07C0.65306 112.764 0.414664 113.52 0.17024 114.363C-1.15289 118.927 5.47012 120.314 11.9365 121.114C15.2138 121.524 18.697 122.858 22.1258 124.17C25.4355 125.438 28.6946 126.686 31.6691 127.065C37.7575 127.871 39.6416 122.719 39.6416 122.719C39.6416 122.719 46.4929 121.113 53.6959 120.929C60.9058 120.717 67.7308 122.5 67.7308 122.5C67.7308 122.5 69.0544 125.678 71.525 127.065C73.9956 128.479 79.3149 128.67 82.7241 124.906C85.5431 121.776 92.2415 117.977 97.3726 115.066ZM54.3346 28.7131C54.0024 28.0434 53.8 27.1893 53.8 26.3352C53.8 23.9917 55.2018 22.0648 56.8836 22.0648C58.611 22.0648 59.9865 23.9913 59.9865 26.3352C59.9865 28.1255 59.1716 29.6765 57.9985 30.2844C58.2651 30.4015 58.5198 30.517 58.7664 30.6286L58.7669 30.6289L58.767 30.6289L58.7671 30.629C59.0388 30.7521 59.3004 30.8706 59.5566 30.9817C61.4926 29.7517 62.8161 27.1897 62.8161 24.2307C62.8161 20.0628 60.1889 16.6738 56.9297 16.6738C53.6702 16.6738 51.0495 20.0628 51.0495 24.2307C51.0495 25.4538 51.2778 26.6017 51.6624 27.6196C52.399 27.9138 53.3181 28.2828 54.3346 28.7131ZM24.694 95.8387C23.3186 93.5977 19.9811 89.6212 18.1753 90.7419C17.3024 91.2627 16.7419 92.4753 16.1489 93.7582C15.4972 95.1679 14.8064 96.6626 13.6186 97.4174C12.6925 98.0059 11.1601 98.3542 9.63984 98.6998C7.43605 99.2007 5.25762 99.6958 4.98783 100.909C4.76656 101.892 4.95945 102.837 5.17408 103.89C5.40844 105.039 5.66873 106.315 5.44412 107.906C5.28128 108.923 4.96682 109.959 4.66888 110.941C4.08448 112.867 3.56366 114.583 4.37531 115.538C5.00226 116.281 7.8603 116.766 10.9601 117.292H10.9601C13.7582 117.767 16.7531 118.275 18.482 119.036C18.6422 119.107 18.8108 119.181 18.9872 119.258C22.8212 120.945 30.2703 124.222 33.0185 123.334C33.0185 123.334 36.2324 121.25 36.8123 118.394C37.4252 115.538 35.4628 112.361 33.3248 109.963C31.7827 108.226 28.6096 102.659 26.4846 98.9312C25.6998 97.5545 25.058 96.4284 24.694 95.8387ZM43.9705 40.8279C42.3408 39.7076 39.2836 37.0903 40.0527 35.7035C40.0527 35.7035 42.445 33.7835 43.4887 32.7997C44.5315 31.7814 47.2301 29.3831 48.8599 29.6976C49.9883 29.9043 52.5043 30.9567 54.4644 31.7766L54.4644 31.7766L54.4644 31.7766L54.4645 31.7767C55.2901 32.122 56.0171 32.4261 56.5001 32.6083C58.1299 33.1959 59.9353 34.289 59.7593 35.3824C59.6201 36.1595 59.1772 36.4009 58.1894 36.9393L58.1894 36.9393C57.7443 37.1819 57.1886 37.4848 56.5001 37.9241C56.349 38.0198 56.1855 38.1237 56.0116 38.2341L56.0098 38.2353L56.0098 38.2353C53.6628 39.7259 49.4187 42.4212 47.993 42.6183C46.741 42.792 45.9324 42.2155 44.7817 41.3951L44.7816 41.3951C44.5303 41.2159 44.2627 41.0251 43.9705 40.8279ZM40.4304 31.8634C41.0693 31.3852 41.6822 30.7976 42.3405 30.1279C42.3006 30.1419 42.2623 30.1558 42.2239 30.1698L42.2237 30.1699L42.2234 30.17L42.2232 30.1701C42.1868 30.1833 42.1503 30.1966 42.1121 30.21C40.7367 30.4489 39.3876 28.8707 39.029 26.6845C38.7029 24.5252 39.5112 22.5711 40.8673 22.3317C42.2168 22.12 43.5923 23.6983 43.9443 25.83C44.1269 27.0328 43.9703 28.1807 43.5663 28.98C43.7758 28.7601 44.0036 28.5589 44.2451 28.3456L44.2452 28.3455L44.2452 28.3455C44.2964 28.3003 44.3482 28.2545 44.4006 28.2079C45.0135 27.6476 45.6524 27.2993 46.2913 27.0872C46.4149 26.4176 46.4932 25.7479 46.4932 25.0307C46.4932 21.0814 44.4006 17.877 41.8322 17.877C39.2573 17.877 37.1972 21.0542 37.1972 25.0307C37.1972 28.2352 38.5727 30.9544 40.4304 31.8634ZM76.0811 74.3562C77.2286 82.7058 75.3185 89.0879 75.3185 89.0879C75.3185 89.0879 70.9638 87.8851 70.404 90.6593C69.8434 93.4606 69.8434 103.608 69.8434 103.608C69.8434 103.608 63.9566 112.149 54.8435 113.563C45.7297 114.95 41.1668 113.939 41.1668 113.939L36.0495 107.796C36.0495 107.796 40.0259 107.181 39.4653 102.992C39.1809 100.881 36.056 98.3554 32.7741 95.7034L32.7741 95.7034C29.5887 93.1293 26.2555 90.4357 25.228 87.8847C23.142 82.7058 24.8435 73.9527 27.5227 69.5731C28.7547 67.5375 29.7833 64.3779 30.7979 61.2614C31.9627 57.6833 33.1091 54.162 34.5237 52.4638C37.1967 49.2935 39.2564 42.5359 38.3178 39.5501C38.3178 39.5501 44.0216 46.7038 47.9918 45.5287C49.7301 45.0029 52.4163 43.3764 55.0002 41.812C58.3269 39.7977 61.4838 37.8863 62.2287 38.5594C63.5522 39.7618 74.9339 65.9997 76.0811 74.3562ZM95.6897 104.783C93.4734 103.553 92.2999 100.007 92.4565 97.5194C92.6062 95.0662 91.1268 94.2946 91.1268 94.2946C91.1268 94.2946 90.084 96.5904 88.6104 98.1346C87.1307 99.6856 82.2681 101.845 78.8845 100.294C75.4947 98.7498 76.0812 92.8805 76.0812 92.8805C76.0812 92.8805 74.9077 92.5867 74.1712 93.195C73.6163 93.6582 73.8087 96.1378 74.0043 98.6563C74.0683 99.4809 74.1326 100.31 74.1712 101.073C74.3212 104.168 73.4346 109.587 72.3851 114.527C71.3683 119.488 73.4346 122.877 75.8005 123.649C78.1409 124.428 81.987 121.784 84.914 118.552C86.6813 116.605 90.9309 114.33 94.4414 112.451C96.7962 111.191 98.8184 110.109 99.5355 109.423C101.198 107.803 98.2441 106.184 96.0442 104.978C95.9235 104.911 95.805 104.846 95.6897 104.783Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.apple {
  background-image: url("data:image/svg+xml,%3Csvg width='104' height='128' viewBox='0 0 104 128' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100.679 43.6396C99.9376 44.2156 86.8562 51.602 86.8562 68.026C86.8562 87.0231 103.502 93.7438 104 93.9102C103.923 94.3198 101.356 103.114 95.2237 112.075C89.7561 119.961 84.0457 127.834 75.3588 127.834C66.6719 127.834 64.4363 122.777 54.4081 122.777C44.6353 122.777 41.1605 128 33.2146 128C25.2686 128 19.7244 120.703 13.3497 111.742C5.96585 101.22 0 84.8725 0 69.3573C0 44.4716 16.1474 31.2735 32.0393 31.2735C40.4835 31.2735 47.5224 36.8293 52.824 36.8293C57.87 36.8293 65.7393 30.9407 75.346 30.9407C78.9869 30.9407 92.0683 31.2735 100.679 43.6396ZM70.7854 20.4052C74.7584 15.6816 77.5689 9.12731 77.5689 2.57306C77.5689 1.66417 77.4922 0.742474 77.3261 0C70.8621 0.243224 63.1716 4.31403 58.5343 9.70337C54.8935 13.851 51.4954 20.4052 51.4954 27.0491C51.4954 28.0476 51.6615 29.0461 51.7381 29.3661C52.1469 29.4429 52.8112 29.5326 53.4755 29.5326C59.2753 29.5326 66.5697 25.641 70.7854 20.4052Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
}

.download__btn {
  margin: 80px auto 0;
  padding: 8px 79px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  white-space: nowrap;
}

._exe {
  display: none;
}